.appContainer {
    position: relative;
}

@keyframes fadeInLogo {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.4;
    }
}

@keyframes fadeInText {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.7;
    }
}

@keyframes twinkle {
    0%, 3%, 6%, 9%, 100% {
        opacity: 0.4;
        transform: scale(1);
    }
    1.5%, 4.5%, 7.5% {
        opacity: 0.8;
        transform: scale(1.1);
    }
}

@keyframes textShineAnimation {
    from {
        background-position: -200% center;
    }
    to {
        background-position: 200% center;
    }
}

.iconsContainer {
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.iconLink {
    display: block;
    position: relative; 
    margin-bottom: 15px; 
}

.icon {
    width: 35px; 
    height: auto; 
    opacity: 0;
    transition: opacity 0.3s ease-in-out, filter 0.1s ease-in-out;
}

.iconLink.illuminated .icon {
    animation: fadeInLogo 1.5s forwards, 
               twinkle 30s 1.5s infinite;
}

.iconLink:hover .icon {
    animation-play-state: paused;
    opacity: 1 !important;
}

.engineIconLink:hover .icon {
    filter: drop-shadow(0 0 2px #216e3c);
}

.engineIconLink {
    cursor: default;
}

.iconLink[data-tooltip]::before {
    content: attr(data-tooltip);
    position: absolute;
    top: 50%;
    right: 100%; 
    transform: translateY(-50%) translateX(-22px); 
    
    background-color: #333;
    color: #fff;
    padding: 8px 12px;
    border-radius: 6px;
    font-size: 12px;

    opacity: 0;
    visibility: hidden;
    pointer-events: none; 
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.engineIconLink[data-tooltip]::before {
    white-space: normal; 
    width: 405px; 
}

.githubIconLink[data-tooltip]::before {
    white-space: nowrap; 
    width: max-content; 
}

.iconLink[data-tooltip]::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 100%; 
    transform: translateY(-50%) translateX(-10px); 
    
    border-width: 6px;
    border-style: solid;
    border-color: transparent transparent transparent #333; 
    
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.iconLink[data-tooltip]:hover::before,
.iconLink[data-tooltip]:hover::after {
    opacity: 1 !important;
    visibility: visible;
}

.topLeftText {
    display: inline-block;
    position: absolute;
    top: 20px;
    left: 20px;
    color: white; 
    z-index: 1000;
    font-family: 'Tahoma', Arial, sans-serif;
    font-size: 12px; 
    opacity: 0;
}

.topLeftText i {
    font-style: italic;
    padding-right: 2px;
}

.topLeftText .engineName {
    color: #4ca392;
}

.topLeftText.illuminated {
    animation: fadeInText 1.5s forwards;
}

.inlineLogo {
    height: 1.5em; 
    width: auto; 
    vertical-align: middle;
    margin-left: 0.3em;
    margin-right: 0.3em;
    position: relative;
    top: -1px; 
}

@keyframes textShineEngine {
    0% {
        background-position: 100% 0;
    }
    8.33% {
        background-position: 0% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

@keyframes textShineAuthor {
    0% {
        background-position: 100% 0;
    }
    8.33% {
        background-position: 100% 0;
    }
    16.66% {
        background-position: 0% 0;
    }
    100% {
        background-position: 0% 0;
    }
}

.engineName.illuminated {
    color: transparent;
    background: 
    linear-gradient(
        110deg,
        #4ca392 40%,
        #fff     50%,
        #4ca392 60%
    );
    background-size: 300% 100%;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textShineEngine 13s ease-out infinite;
}

.authorNameBlock.illuminated {
    color: transparent;
    background: linear-gradient(
        110deg,
        #ccc 40%,
        #fff 50%,
        #ccc 60%
    );
    background-size: 300% 101%;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: textShineAuthor 13s ease-out infinite;
}